.watch{
        padding-top: 40vh;
        text-align: center;
}

.watch button{
    height: 100px;
    width: 250px;
    margin-right: 100px;
    margin-left: 100px;
    background: linear-gradient(to right, rgba(255,0,0,0), rgb(67, 46, 151));
    border-radius: 2px;
    border: 0;
    font-size: x-large;
}

.watch button:hover{
    border: 2px solid rgb(218, 215, 222);
    border-radius: 4px;
}